<html>  
    <body>  
        ${sys1.getColor()}
        <form action="riyun/login" method="post">  
            <input type="text" name="userName"/>  
            <input type="submit" value="提交" />  
        </form>  
    </body>  
</html> 